<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Text Util </title>
</head>

<body>
    <h1> Welcome to the application </h1>
    <form action="analyzer/" method="get">
        <textarea name="text" style='margin: 0px; height: 109px; width: 1249px;'></textarea><br/>
        <label> Remove Punctuation  :</label> <input type="checkbox" name="removepunc"/><br/>
        <label> Capitalize First    :</label> <input type="checkbox" name="capitalizefirst"/><br/>
        <label> New Line Remove     :</label> <input type="checkbox" name="newlineremove"/><br/>
        <label> Space Remove        :</label> <input type="checkbox" name="spaceremove"/><br/>
        <label> Character Count     :</label> <input type="checkbox" name="charcount"/><br/>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>